{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equive="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> documents</title>
</head>
<body>
    <p> Testing Page </p>
    <p>test: </p>
    {% comment %} {% for post in totalposts %}
       {% comment %} <p> {{post.content|snippet:5}} </p> {% endcomment %}
        {% comment %} <p>{{post.title}}</p>
    {%endfor%}  {% endcomment %}
    {% comment %} {% popularposts %} {% endcomment %}

    <form action="{% url 'website:test'%}" method="post">
        {% csrf_token %} 

        {% comment %} <label> name: </label>
        <input name="name" type="text"><br> {% endcomment %}
        {% comment %} <label> email: </label>
        <input name="email" type="text"><br>
        <label> subject: </label>
        <input name="subject" type="text"><br>
        <label> message: </label>
        <input name="message" type="text"><br> {% endcomment %}
        {{form.as_p}}
        <button type="submit"> submit: </button>
    </form>


</body>
</html>