{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equive="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> documents</title>
</head>
<body>
    <p> Testing Page </p>
    <p>test: </p>
    {% comment %} {% for post in totalposts %}
       {% comment %} <p> {{post.content|snippet:5}} </p> {% endcomment %}
        {% comment %} <p>{{post.title}}</p>
    {%endfor%}  {% endcomment %}
    {% popularposts %}


</body>
</html>